.App {
	text-align: center;
	background-color: blanchedalmond;
	min-height: 100vh;
	color: black;
	display: flex;
	flex-wrap: wrap;
}

.person {
	background-color: rgb(212, 212, 212);
	width: 300px;
	height: 300px;
	margin: 20px;
}
